body {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.example1 {
  background-color: #3498db;
  color: #ffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}
.example1:hover {
  background-color: rgb(6, 159, 16);
  color: red;
}

.example2,
input[type="text"] {
  padding: 10px;
  border: none;
  border-color: rgb(45, 43, 43);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: border 0.5s;
}

.example2:focus {
  border: 2px solid rgb(13, 205, 45);
}

input[type="text"]:focus {
  border: 3px solid #b80a0a;
}
